@media print {
    * {
        line-height: 5mm !important;
    }
    .pageBreak {
        display: none !important;
        page-break-after: always !important;
        height: 0 !important;
        clear: both !important;
    }
    table {
        width: 100% !important;
    }
}
