@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --page-background: unset; /* Pages background */
    --page-box-shadow: unset; /* Pages box-shadow */
    --page-border: unset; /* Pages border */
    --page-border-radius: unset; /* Pages border-radius */
}

body {
    font-family: Montserrat;
}

.ant-popover {
    z-index: 10000 !important;
}
.ant-card-small > .ant-card-body {
    /* padding: 4px; */
}
/* .ant-modal-wrap {
    z-index: 1000 !important;
} */

.ant-image-preview-root .ant-image-preview-wrap {
    z-index: 10000 !important;
}

.ant-form-vertical .ant-form-item-label {
    font-weight: bold !important;
}

h1,
h2,
p {
    margin: 0 !important;
}

#printContent table {
    width: 100% !important;
}
#printContent .table {
    width: 100% !important;
}

#preview table {
    width: 100% !important;
}
#preview .table {
    width: 100% !important;
}
@media print {
    @page {
        /* size: A4; */
        font-family: Arial, Helvetica, sans-serif;
        /* margin: 1cm; */
    }
    * {
        line-height: 5mm !important;
    }
    .pageBreak {
        display: none !important;
        page-break-after: always !important;
        height: 0 !important;
        clear: both !important;
    }
    #printContent table {
        width: 100% !important;
        /* table-layout: fixed; */
    }
    #printContent .table {
        /* page-break-after: always; */
        width: 100% !important;
    }
    tr {
        page-break-inside: avoid;
    }
}
