@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --page-background: unset; /* Pages background */
    --page-box-shadow: unset; /* Pages box-shadow */
    --page-border: unset; /* Pages border */
    --page-border-radius: unset; /* Pages border-radius */
}

body {
    font-family: Montserrat;
}

.ant-popover {
    z-index: 10000 !important;
}
.ant-card-small > .ant-card-body {
    /* padding: 4px; */
}
